<% provide(:title, 'Edit Task') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>タスク編集ページ</h1>
      <%= form_with(model: @task, url: user_task_path(@user, @task), local: true, method: :patch) do |f| %>
        
        <%= f.label :task_title, "名称", class: "label-form" %>
          <%= f.text_field :task_title, class: "form-control" %>
        
        <%= f.label :task_detail, "詳細", class: "label-form" %>
          <%= f.text_area :task_detail, rows: 5, class: "form-control" %>
          
        <%= f.hidden_field :user_id, value: @user %>
        
        <%= f.submit "更新", class: "btn btn-primary btn-form" %>
        <%= link_to "キャンセル", user_tasks_path(@user), class: "btn btn-default btn-form" %>
      <% end %>
  </div>
</div>