<% provide(:title, 'New Task') %>

<h1>タスク詳細</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-bordered" id="table-task">
      <tbody>
        <tr>
          <th class="active col-md-2"><%= Task.human_attribute_name :id %></th>
          <td class="col-md-10"><%= @task.id%></td>
        </tr>
        <tr>
          <th class="active"><%= Task.human_attribute_name :名称 %></th>
          <td><%= @task.task_title %></td>
        </tr>
        <tr>
          <th class="active"><%= Task.human_attribute_name :詳細 %></th>
          <td><%= auto_link(safe_join(@task.task_detail.split("\n"), tag(:br))) %></td>
        </tr>
        <tr>
          <th class="active"><%= Task.human_attribute_name :作成日 %></th>
          <td><%= l(@task.created_at, format: :long) %></td>
        </tr>
        <tr>
          <th class="active"><%= Task.human_attribute_name :更新日 %></th>
          <td><%= l(@task.updated_at, format: :long) %></td>
        </tr>
      </tbody>
    </table>
    
    <div>
      <%= link_to "編集", edit_user_task_path(@user, @task), class: "btn btn-success btn-form" %>
      <%= link_to "削除", user_task_path(@user, @task), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>